# Import Library

In [333]:
import pandas as pd
import numpy as np

# DATA SPLIT
# Testing dan Training data
from sklearn.model_selection import train_test_split 

# DATA TRANSFORMING
# Standarisasi
from sklearn.preprocessing import StandardScaler 

# Normalisasi
from sklearn.preprocessing import MinMaxScaler

# DATA CLEANING
# Subtitusi nilai
from sklearn.impute import SimpleImputer 

# ENCODING
# Onehot
from sklearn.preprocessing import OneHotEncoder

# Membaca File CSV Disimpan di Dalam Variabel

In [334]:
df = pd.read_csv('D:\Kuliah\Semester 5\Prak KB\cost_prediction.csv')
df.head(5)

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79

# DATA SPLIT
Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [335]:
data = df[['store_sales(in millions)','store_cost(in millions)','unit_sales(in millions)','cost']]
label = df['food_category']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [336]:
print(f'panjang data training {len(data_train)}',
     f'panjang label training {len(label_train)}',
     f'panjang data testing {len(data_test)}',
     f'panjang label testing {len(label_test)}',
     sep='\n')

panjang data training 42299
panjang label training 42299
panjang data testing 18129
panjang label testing 18129

# DATA TRANSFORMASI
Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [337]:
#Normalisasi
df_copy = df.copy()

scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(df_copy[['store_sales(in millions)',
                                                  'store_cost(in millions)',
                                                  'unit_sales(in millions)',
                                                  'cost']])

In [338]:
normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={ 0 :'store_sales(in millions)', 
                                  1 : 'store_cost(in millions)', 
                                  2 : 'unit_sales(in millions)', 
                                  3 : 'cost'}, inplace=True)

normalize_dataset.head(5)

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),cost
0,0.305667,0.267690,0.6,0.766269
1,0.223561,0.254222,0.4,0.091653
2,0.141455,0.125312,0.2,0.337207
3,0.141455,0.106072,0.2,0.454628
4,0.159304,0.132256,0.4,0.000000

# Lakukan standarisasi pada dataset 
(buatlah copy dataset terlebih dahulu)

In [339]:
#Standarisasi
df_copy.drop('food_category', axis=1, inplace=True)

standart_std = StandardScaler()

#SEBELUM
scaled_data_cost = standart_std.fit_transform(df[['store_sales(in millions)',
                                                  'store_cost(in millions)',
                                                  'unit_sales(in millions)',
                                                  'cost']])
scaled_data_cost = pd.DataFrame(scaled_data_cost)
scaled_data_cost.rename(columns={ 0 :'store_sales(in millions)', 
                                1 : 'store_cost(in millions)', 
                                2 : 'unit_sales(in millions)', 
                                3 : 'cost'}, inplace=True)

#SESUDAH
scaled_data = standart_std.fit_transform(df_copy[['store_sales(in millions)',
                                                  'store_cost(in millions)',
                                                  'unit_sales(in millions)', 
                                                  'cost']])
scaled_data = pd.DataFrame(scaled_data)
scaled_data.rename(columns={  0 :'store_sales(in millions)', 
                            1 : 'store_cost(in millions)', 
                            2 : 'unit_sales(in millions)', 
                            3 : 'cost'}, inplace=True)

In [340]:
print('Dataset sebelum scalling:',  # SEBELUM
      df.drop('food_category', axis=1).head(6),'\n'
      f'Nilai standar deviasi:\n{np.std(scaled_data_cost)}',
      sep='\n', end='\n\n')

print('Dataset setelah scalling:',  # SESUDAH
      scaled_data[:6],
      f'Nilai standar deviasi:\n{np.std(scaled_data)}',
      sep='\n')

Dataset sebelum scalling:
  food_department food_family  store_sales(in millions)  \
0    Frozen Foods        Food                      7.36
1    Frozen Foods        Food                      5.52
2    Frozen Foods        Food                      3.68
3    Frozen Foods        Food                      3.68
4    Frozen Foods        Food                      4.08
5    Frozen Foods        Food                      4.08

   store_cost(in millions)  unit_sales(in millions)         promotion_name  \
0                   2.7232                      4.0           Bag Stuffers
1                   2.5944                      3.0  Cash Register Lottery
2                   1.3616                      2.0    High Roller Savings
3                   1.1776                      2.0  Cash Register Lottery
4                   1.4280                      3.0       Double Down Sale
5                   1.4688                      3.0       Double Down Sale

  sales_country marital_status gender  total_children  ... grocery_sqft  \
0           USA              M      F             1.0  ...      18670.0
1           USA              M      M             0.0  ...      18670.0
2           USA              S      F             4.0  ...      18670.0
3           USA              M      F             2.0  ...      18670.0
4           USA              M      M             0.0  ...      18670.0
5           USA              M      F             2.0  ...      18670.0

  frozen_sqft meat_sqft coffee_bar  video_store salad_bar  prepared_food  \
0      5415.0    3610.0        1.0          1.0       1.0            1.0
1      5415.0    3610.0        1.0          1.0       1.0            1.0
2      5415.0    3610.0        1.0          1.0       1.0            1.0
3      5415.0    3610.0        1.0          1.0       1.0            1.0
4      5415.0    3610.0        1.0          1.0       1.0            1.0
5      5415.0    3610.0        1.0          1.0       1.0            1.0

   florist          media_type    cost
0      1.0  Daily Paper, Radio  126.62
1      1.0  Daily Paper, Radio   59.86
2      1.0  Daily Paper, Radio   84.16
3      1.0     In-Store Coupon   95.78
4      1.0               Radio   50.79
5      1.0               Radio   50.79

[6 rows x 39 columns]

Nilai standar deviasi:
store_sales(in millions)    1.0
store_cost(in millions)     1.0
unit_sales(in millions)     1.0
cost                        1.0
dtype: float64

Dataset setelah scalling:
   store_sales(in millions)  store_cost(in millions)  unit_sales(in millions)  \
0                  0.236490                 0.071398                 1.095643
1                 -0.294838                -0.017247                -0.112567
2                 -0.826167                -0.865700                -1.320778
3                 -0.826167                -0.992335                -1.320778
4                 -0.710661                -0.820002                -0.112567
5                 -0.710661                -0.791922                -0.112567

       cost
0  0.911587
1 -1.312930
2 -0.503228
3 -0.116036
4 -1.615153
5 -1.615153
Nilai standar deviasi:
store_sales(in millions)    1.0
store_cost(in millions)     1.0
unit_sales(in millions)     1.0
cost                        1.0
dtype: float64

# DATA CLEANING
Lakukan Data cleaning pada data dengan nilai null .Ganti nilai null sesuai ketentuan.( bilangan desimal : mean)

In [341]:
#Cek Data Null
df.isna().sum()

food_category                 0
food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

#### Membuat nilai null

In [342]:
# membuat nilai null/NaN dengan np.nan
df_copy.loc[2, 2:5] = np.nan

C:\Users\Acer\AppData\Local\Temp\ipykernel_9556\4219482049.py:2: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  df_copy.loc[2, 2:5] = np.nan

In [343]:
df_copy.head(5)

,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,total_children,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,1.0,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,0.0,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Frozen Foods,Food,NaN,NaN,NaN,High Roller Savings,USA,S,F,4.0,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,2.0,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,0.0,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79

In [344]:
#Cek Data Null
df_copy.isna().sum()

food_department               0
food_family                   0
store_sales(in millions)      1
store_cost(in millions)       1
unit_sales(in millions)       1
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

In [345]:
# bikin alat
imputer_mean = SimpleImputer(strategy = 'mean')

In [346]:
#mean
df_copy['store_sales(in millions)'] = imputer_mean.fit_transform(df_copy[['store_sales(in millions)']])
df_copy['store_cost(in millions)'] = imputer_mean.fit_transform(df_copy[['store_cost(in millions)']])
df_copy['unit_sales(in millions)'] = imputer_mean.fit_transform(df_copy[['unit_sales(in millions)']])

In [347]:
#Cek Data Null
df_copy.isna().sum()

food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

# Data cleaning pada data dengan nilai duplikat

In [348]:
#cek data duplikat
df_copy.duplicated().sum()

0

### Membuat data duplikat

In [349]:
df_duplicate = df.copy().append(df.head(50), ignore_index = True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_9556\3922507458.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicate = df.copy().append(df.head(50), ignore_index = True)

In [350]:
df_duplicate.duplicated().sum()

50

### Menghapus data duplikat

In [351]:
df_duplicate.drop_duplicates(inplace=True)

df_duplicate.duplicated().sum()

0

# Ganti tipe data salah satu attribute angka

In [352]:
#sebelum
df_copy['frozen_sqft'].head()

0    5415.0
1    5415.0
2    5415.0
3    5415.0
4    5415.0
Name: frozen_sqft, dtype: float64

In [353]:
#sesudah
df_copy['frozen_sqft'].astype('object').head()

0    5415.0
1    5415.0
2    5415.0
3    5415.0
4    5415.0
Name: frozen_sqft, dtype: object

# ENCODING
Lakukan one hot encoding pada dataset

In [354]:
#copy
df_copy_2 = df.copy()

In [355]:
# buat alat
encoder_oneHot = OneHotEncoder(sparse=False)

temp_dataset = encoder_oneHot.fit_transform(df_copy_2[['sales_country']]).astype('int32')

temp_dataset = pd.DataFrame(temp_dataset)

In [356]:
# hapus label sebelumnya attribute
df_copy_2.drop('sales_country', axis=1, inplace=True)

# tambahkan label baru attribute
df_copy_2 = df_copy_2.join(temp_dataset)

# ganti nama label attribute 
df_copy_2.rename(columns = {0:'USA', 
                            1:'Mexico', 
                            2:'Canada'}, inplace=True)

In [357]:
# show the dataset record
df_copy_2.head(10)

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,marital_status,gender,total_children,...,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost,USA,Mexico,Canada
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,M,F,1.0,...,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62,0,0,1
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,M,M,0.0,...,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86,0,0,1
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,S,F,4.0,...,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16,0,0,1
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,M,F,2.0,...,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78,0,0,1
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,M,M,0.0,...,1.0,1.0,1.0,1.0,1.0,Radio,50.79,0,0,1
5,Breakfast Foods,Frozen Foods,Food,4.08,1.4688,3.0,Double Down Sale,M,F,2.0,...,1.0,1.0,1.0,1.0,1.0,Radio,50.79,0,0,1
6,Breakfast Foods,Frozen Foods,Food,5.44,2.5568,4.0,Cash Register Lottery,S,F,4.0,...,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78,0,0,1
7,Breakfast Foods,Frozen Foods,Food,3.74,1.6082,2.0,Cash Register Lottery,S,M,1.0,...,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86,0,0,1
8,Breakfast Foods,Frozen Foods,Food,4.08,1.4688,3.0,Cash Register Lottery,S,F,2.0,...,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86,0,0,1
9,Breakfast Foods,Frozen Foods,Food,9.72,4.5684,3.0,High Roller Savings,S,F,3.0,...,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16,0,0,1